POSTGRES_USER=fleet_user
POSTGRES_PASSWORD=fleet_pass_change_me
POSTGRES_DB=fleet_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
RABBITMQ_USER=fleet_admin
RABBITMQ_PASS=fleet_rabbit_change_me
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
WORKER_PORT=3001
FRONTEND_URL=http://localhost:3002
LOG_LEVEL=info
